{% extends "oam/layout.html" %}
{% load staticfiles %}

{% load formatfilters %}

{% block styling %}	
		<style type="text/css" media="screen,projection">
			div#content_section div.row{
				margin-bottom: 0.5em;
			}
			.text-white
			{
				color: #ffffff;
			}
			.label{
				font-size: 100%;
				line-height: 2.2;
			}
			.label-danger{
				background-color: #ff4f52;
			}
			.label-success{
				background-color: #06A209;
			}
		</style>
{% endblock %}

{% block js %}
	<script type="text/javascript">
	var modalUI = null;

	$(document).ready(function(){
		modalUI = $("div#relatedModal");
		modalUI.modal({show: false});
	});

	function relatedModalUI (sender) {
		var senderObject = $(sender);
		var ajaxUrl = $(senderObject).data("ajax-url");

		modalUI.load(
			ajaxUrl,
			function(){
				modalUI.modal({show: true});
			});
	}
	</script>
	
{% endblock js %}

{% block content %}
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<a class="breadcrumbs" href="{% url "oam:invoices_index" invoice.customer.corp_url_id %}">
						Dashboard
					</a>
					&gt; Invoice Details
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-buttons">
					<div class="well well-sm">
						<a href="{% url "oam:invoice_edit" customer_url_id invoice.pk %}" class="btn btn-default">Edit Invoice</a>
						<button class="btn btn-default" data-ajax-url="{% url "oam:invoice_new_note" customer_url_id invoice.pk %}" type="button" onclick="relatedModalUI(this)">Add Note</button>
						<button class="btn btn-default" data-ajax-url="{% url "oam:invoice_notes" customer_url_id invoice.pk %}" type="button" onclick="relatedModalUI(this)">Note{{invoice.number_of_notes|pluralize}} ({{invoice.number_of_notes}})</button>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="col-md-2 col-lg-2 col-sm-12 col-xs-12">
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bg-default text-uppercase h4" style="border-bottom: 2px solid #fff; padding-bottom: 0.2em">Invoice Date</span></div>
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">{{ invoice.invoice_date|date:"m/j/Y" }}</div>
						</div>
					</div>
					<div class="col-md-2 col-lg-2 col-sm-12 col-xs-12">
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bg-default text-uppercase h4" style="border-bottom: 2px solid #fff; padding-bottom: 0.2em">Company</div>
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">{{ invoice.customer.corp|title }}</div>
						</div>
					</div>
					<div class="col-md-2 col-lg-2 col-sm-12 col-xs-12">
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bg-default text-uppercase h4" style="border-bottom: 2px solid #fff; padding-bottom: 0.2em">Amount</div>
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">{{ invoice.amount|currency }}</div>
						</div>
					</div>
					<div class="col-md-2 col-lg-2 col-sm-12 col-xs-12">
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bg-default text-uppercase h4" style="border-bottom: 2px solid #fff; padding-bottom: 0.2em">Balance Due</div>
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">{{ invoice.balance_due|currency }}</div>
						</div>
					</div>
					<div class="col-md-2 col-lg-2 col-sm-12 col-xs-12">
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bg-default text-uppercase h4" style="border-bottom: 2px solid #fff; padding-bottom: 0.2em">Due Date</div>
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">{{ invoice.due_date|date:"m/j/Y"|default:"No due date"  }}</div>
						</div>
					</div>
					<div class="col-md-2 col-lg-2 col-sm-12 col-xs-12">
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bg-default text-uppercase h4" style="border-bottom: 2px solid #fff; padding-bottom: 0.2em">Status</div>
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-uppercase {% ifequal invoice.status "Unpaid" %}text-success{% endifequal %}{% ifequal invoice.status "Paid" %}text-success{% endifequal %}">{{ invoice.status }}</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<table class="table table-condensed table-striped table-bordered">
						<caption class="h3">Related Transactions</caption>
						<thead>
							<tr>
								<th class="h4" style="width: 5%"></th>
								<th class="h4" scope="col">Date</th>
								<th class="h4" scope="col">Amount</th>
								<th class="h4" scope="col">Payment Method</th>
								<th class="h4" style="width: 5%"></th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<td colspan="5">
									<button class="btn btn-sm btn-primary" data-ajax-url="{% url "oam:invoice_new_transaction" customer_url_id invoice.pk %}" type="button" onclick="relatedModalUI(this)">Record Transaction</button>
								</td>
							</tr>
						</tfoot>
						<tbody>
							{% for transaction in related_transactions %}
								<tr>
									<td class="text-right">
										<button class="btn btn-default btn-sm" title="View">
											<i class="fa fa-sm fa-file-o"></i>
											</button>
									</td>
									<td>{{ transaction.date_added|date:"m/j/y" }}</td>
									<td>{{ transaction.amount|currency }}</td>
									<td>{{ transaction.payment_type }}</td>
									<td>
										<button class="btn btn-danger btn-sm" title="Delete"><i class="fa fa-sm fa-trash"></i></button>
									</td>
								</tr>
							{% empty %}
								<tr>
									<td colspan="5">No related transactions recorded</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div id="relatedModal" class="modal fade" role="dialog">
	</div>
{% endblock content %}