{% extends "oam/layout.html" %}

{% load formatfilters %}

{% block styling %}	
		<style type="text/css" media="screen,projection">
			div#content_section div.row{
				margin-bottom: 0.5em;
			}
			.text-white
			{
				color: #ffffff;
			}
			.label{
				font-size: 100%;
				line-height: 2.2;
			}
			.label-danger{
				background-color: #ff4f52;
			}
			.label-success{
				background-color: #06A209;
			}
		</style>
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<a class="breadcrumbs" href="{% url "oam:invoices_index" invoice.customer.corp_url_id %}">
						Dashboard
					</a>
					&gt; Invoice Details
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
					<table class="table table-condensed">
						<thead>
							<tr>
								<th style="width:5%"></th>
								<th scope="col">Invoice Date</th>
								<th scope="col">Company</th>
								<th scope="col">Amount</th>
								<th scope="col">Balance Due</th>
								<th scope="col">Due Date</th>
								<th scope="col">Status</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<a href="{% url "oam:invoice_edit" invoice.customer.corp_url_id invoice.id %}">
										<i class="fa fa-edit"></i>
									</a>
								</td>
								<td>{{ invoice.date_added|date:"m/j/Y" }}</td>
								<td>{{ customer.corp|title }}</td>
								<td>{{ invoice.amount|currency }}</td>
								<td>{{ invoice.balance_due|currency }}</td>
								<td>{{ invoice.due_date|date:"m/j/Y"|default:"No due date"  }}</td>
								<td style="font-weight: bold" class="text-uppercase {% ifequal invoice.status "Unpaid" %}label label-danger{% endifequal %}{% ifequal invoice.status "Paid" %}bg-success text-white{% endifequal %}">{{ invoice.status }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			{% if invoice.notes != None %}
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h3 class="h3">Notes</h3>

					{% include "oam/invoice_note.html" with notes=invoice_notes %}
				</div>
			</div>
			{% endif %}
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<table class="table table-condensed table-striped table-bordered">
						<caption style="font-weight: bold">Related Transactions</caption>
						<thead>
							<tr>
								<th style="width: 5%"></th>
								<th scope="col">Date</th>
								<th scope="col">Amount</th>
								<th scope="col">Payment Method</th>
								<th style="width: 5%"></th>
							</tr>
						</thead>
						<tbody>
							{% for transaction in related_transactions %}
								<tr>
									<td class="text-right">
										<button class="btn btn-default btn-sm" title="View">
											<i class="fa fa-sm fa-file-o"></i>
											</button>
									</td>
									<td>{{ transaction.date_added|date:"m/j/y" }}</td>
									<td>{{ transaction.amount|currency }}</td>
									<td>{{ transaction.payment_type }}</td>
									<td>
										<button class="btn btn-danger btn-sm" title="Delete"><i class="fa fa-sm fa-trash"></i></button>
									</td>
								</tr>
							{% empty %}
								<tr>
									<td colspan="5">No related transactions recorded</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}