{% extends "oam/layout.html" %}
{% load pipeline %}
{% load formatfilters %}

{% block styling %}	
		{% stylesheet 'app' %}
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="panel panel-default panel-sm">
				<div class="panel-heading">
					<h2 class="h4" style="display: inline-block">Invoice Details</h2>
					<span class="pull-right">{{ invoice.status }}</span> 
				</div>
				<div class="panel-body panel-body-detail">
					<div class="row">
						<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 entry-label">Date</div>
						<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 entry-value">{{ invoice.date_added|date:"m/j/Y" }}</div>
					</div>
					<div class="row">
						<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 entry-label">Company</div>
						<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 entry-value">{{ customer.corp|title }}</div>
					</div>
					<div class="row">
						<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 entry-label">Invoice Date</div>
						<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 entry-value">{{ invoice.date_added|date:"m/j/Y"|default:"No due date"  }}</div>
					</div>
					<div class="row">
						<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 entry-label">Due Date</div>
						<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 entry-value">{{ invoice.due_date|date:"m/j/Y"|default:"No due date"  }}</div>
					</div>
					<div class="row">
						<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 entry-label">Amount</div>
						<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 entry-value">{{ invoice.amount|currency }}</div>
					</div>
					<div class="row">
						<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 entry-label">Balance Due</div>
						<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 entry-value">{{ invoice.balance_due|currency }}</div>
					</div>
					<div class="row">
						<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 entry-label">Status</div>
						<div class="col-lg-1 col-md-1 col-sm-12 col-xs-12 entry-value {% ifequal invoice.status "Overdue" %}text-danger{% endifequal %}">{{ invoice.status }}</div>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading"><h2 class="h4">Related Transactions</h2></div>
				<div class="panel-body">
					<table class="table table-condensed">
						<thead>
							<tr>
								<th scope="col">Date</th>
								<th scope="col">Amount</th>
								<th scope="col">Payment Method</th>
							</tr>
						</thead>
						<tbody>
							{% for transaction in related_transactions %}
								<tr>
									<td>{{ transaction.date_added|date:"N j, Y T" }}</td>
									<td>{{ transaction.amount|currency }}</td>
									<td>{{ transaction.payment_type }}</td>
								</tr>
							{% empty %}
								<tr>
									<td colspan="3">No related transactions recorded</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>

		</div>
	</div>
{% endblock content %}