{% extends "oam/layout.html" %}
{% load pipeline %}

{% block content %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <form action="{% url "oam:edit_invoice" customer_url_id='graeters' pk=1 %}" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 entry-field">
                        {{ form.number.label_tag }}
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 entry-value">
                        {{ form.number }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 entry-field">
                        {{ form.date_added.label_tag }}
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 entry-value">
                        {{ form.date_added }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 entry-field">
                        {{ form.amount.label_tag }}
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 entry-value">
                        {{ form.amount }}
                    </div>
                </div>                
            </form>
        </div>
    </div>
{% endblock content %}