{% extends "oam/layout.html" %}

{% block content %}
	<a href="{% url "oam:invoices_new" customer_url_id %}" class="btn btn-primary">New Invoice</a>
	{% if invoices_unpaid %}
		<div class="row">
			<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
				<h3 class="h3">Outstanding Invoices</h3>
				{% include "oam/invoice/list.html" with invoice_list=invoices_unpaid %}
			</div>
		</div>	
	{% endif %}

	{% if invoices_paid %}	
		<div class="row">
			<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
				<h3 class="h3">Paid Invoices</h3>
				{% include "oam/invoice/list.html" with invoice_list=invoices_paid %}
			</div>
		</div>
	{% endif %}
{% endblock %}

{% block styling %}
<style type="text/css">
	div#content_section 
		table[data-listing-type="invoices"] 
			tbody 
				tr 
					td:first-child,
	div#content_section 
		table[data-listing-type="invoices"] 
			td[data-data-type="currency"]
	{
						text-align: right;
	}
</style>
{% endblock %}