{% load staticfiles %}

<html>
	<head>
		<title>TT > OAM > {{ browser_title|default:title|default:'Home' }}</title>
		<link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap-superhero.min.css" %}"/>
		<link rel="stylesheet" type="text/css" href="https://kendo.cdn.telerik.com/2015.3.1111/styles/kendo.common.min.css"/>
		
		<link href="http://cdn.kendostatic.com/2015.3.1111/styles/kendo.bootstrap.min.css" rel="stylesheet" />
		{% block styling %}
		{% endblock styling %}
	</head>
	<body>
		<div role="navigation">
			<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
	            <div class="navbar-header">
	                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	                    <span class="sr-only">Toggle navigation</span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                </button>
	                <a class="navbar-brand" href="{% url "oam:invoices_index" customer_url_id|default:'graeters'  %}">
		                <span class="hidden-sm hidden-xs">Online Account Management</span>
						<span class="hidden-lg hidden-md">OAM</span>
					</a>
	            </div>
			</nav>
		</div>
		<div role="main" class="container">				
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				{% if title != None  %}
					<div class="row">
						<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
							<h1 class="h2">{{ title|default:'Online Account Management' }}</h1>
						</div>
					</div>					
				{% endif %}
					<div class="row" id="content_section">
						<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
							{% block content %}
							{% endblock content %}
						</div>
					</div>					
				</div>
			</div>
		</div>
		<script type="text/javascript" src="{% static "js/jquery-2.1.4.min.js" %}"></script>
		<script type="text/javascript" src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
		<script type="text/javascript" src="https://kendo.cdn.telerik.com/2014.1.318/js/kendo.all.min.js"></script>
		{% block js %}
		{% endblock js %}
	</body>
</html>