{% load pipeline %}

<html>
	<head>
		<title>TT > OAM > {{ browser_title|default:title|default:'Home' }}</title>
		{% stylesheet 'vendor' %}
		{% block styling %}
		{% endblock styling %}
	</head>
	<body>
		<div role="main">				
			<div class="container">
				<div class="row hidden">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<h1 class="h1">
							{{ customer_name|default:'' }}
							<span class="hidden-sm hidden-xs">Online Account Management</span>
							<span class="hidden-lg hidden-md">OAM</span>
						</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-2 col-md-2 hidden-sm hidden-xs">
						<ul class="list-group">
							<li class="list-group-item">Item 1</li>
							<li class="list-group-item">Item 2</li>
							<li class="list-group-item">Item 3</li>
						</ul>
					</div>
					<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
					{% if title != None  %}
						<div class="row">
							<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
								<h1 class="h2">{{ title|default:'Online Account Management' }}</h1>
							</div>
						</div>					
					{% endif %}
						<div class="row" id="content_section">
							<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
								{% block content %}
								{% endblock content %}
							</div>
						</div>					
					</div>
				</div>
			</div>
		</div>	
		{% javascript 'app' %}	
		{% block js %}
		{% endblock js %}
	</body>
</html>